In [4]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [9]:
df = pd.DataFrame({
    'color' : ['red', 'blue', 'green', 'red', 'blue']

})

In [10]:
df

   color
0    red
1   blue
2  green
3    red
4   blue

In [12]:
## create an instance of OHE
encoder = OneHotEncoder()

In [21]:
encoded = encoder.fit_transform(df[['color']])

In [22]:
import pandas as pd 
encoded_df = pd.DataFrame(encoded.toarray(),columns = encoder.get_feature_names_out())

In [23]:
pd.concat([df, encoded_df] , axis = 1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3    red         0.0          0.0        1.0
4   blue         1.0          0.0        0.0

In [24]:
import seaborn as sns

In [27]:
df = sns.load_dataset('tips')

In [28]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4