In [1]:
import pandas as pd

df = pd.DataFrame({
    'city' : ['New york' , 'London' , 'Paris' , 'Tokyo' , 'New york' , 'Paris'],
    'price' : [200 , 150 , 300 , 250 , 100 ,320]
})

In [2]:
df.head()

       city  price
0  New york    200
1    London    150
2     Paris    300
3     Tokyo    250
4  New york    100

In [4]:
df.groupby('city')['price'].mean().to_dict()

{'London': 150.0, 'New york': 150.0, 'Paris': 310.0, 'Tokyo': 250.0}

In [ ]:
df['city_encoded'] = df